<!DOCTYPE html>
<html>
<head>
	<title>{{ logname }}</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/codemirror/codemirror.css">
	<script src="/static/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/codemirror/codemirror.js"></script>
	<script src="/static/codemirror/addon/placeholder.js"></script>
	<script src="/static/codemirror/addon/autorefresh.js"></script>
	<script src="/static/codemirror/addon/sublime.js"></script>
	<script src="/static/codemirror/addon/python.js"></script>
	<link rel="stylesheet" href="/static/codemirror/monokai.css">
<style>
	html {
		overflow-y:hidden;
	}
	.li {
		font-size:18px;
		list-style:none;
	}
	#bottom { 
		background-color:black; 
		z-index:999; 
		position:fixed; 
		top:0; 
		left:0; 
		width:100%; 
		_position:absolute;
		_top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); 
		overflow:visible; 
	}
</style>
</head>
<body>
<div class="modal fade bs-example-modal-lg" id="casemodal" role="dialog" aria-labellebdy="casemodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-Label="Close"><span aria-hidden="false">&times;</span></button>
                <h4 class="modal-title" id="casemodalLabel">{{ casename[:-4] }}py</h4>
            </div>
            <div class="modal-body">
				<form>
					<textarea id="case" name="case" placeholder="正在获取用例..">
					</textarea>
					<script>
						var caseeditor = CodeMirror.fromTextArea(document.getElementById("case"), {
							lineNumbers: true,
							mode: "python",
							theme: "monokai"
						});
						caseeditor.setSize('100%',500);
					</script>
				</form>
            </div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-warning" onclick="savecase()">Save</button>
			</div>
        </div>
    </div>
</div> <!-- modal end -->

<div class="col-lg-12" style="margin-top:20px">
	<div style="height:40px">
	</div>
	<textarea id="log" name="log" placeholder="正在获取日志..">
	</textarea>
	<script>
		var logeditor = CodeMirror.fromTextArea(document.getElementById("log"), {
			lineNumbers: false,
			mode: "python",
			theme: "monokai"
		});
		logeditor.setSize('100%',860);
	</script>
</div>

<div id="bottom" class="col-lg-12" style="height:50px">
	<span class="col-lg-8" style="height:100%;text-align:center;color:red">
		{% if errorinfo %}
			<label style="margin-top:15px;font-size:17px">{{ errorinfo }}</label>
		{% else %}
			<label style="margin-top:15px;font-size:17px;color:green">Success</label>
		{% endif %}
	</span>
	<span class="col-lg-4" style="height:100%;">
		<button class="btn btn-info" style="margin-top:7px" data-toggle="modal" onclick="getcase()" data-target="#casemodal">show case</button>
	</span>
</div>
<script>
	window.onload = getlog();	
	function getlog() {
		$.get('/getlog/{{ logname }}',function(data){
			logeditor.getDoc().setValue(data);
			logeditor.refresh();
		})
	}
	
	function getcase() {
		$.get('/getcase/{{ casename }}',function(data){
			caseeditor.getDoc().setValue(data);
		})
		
		setTimeout(function(){
			caseeditor.refresh();
		},200);
		caseeditor.refresh();
	}
	function savecase() {
		var data = caseeditor.getDoc().getValue()
		$.post("/savecase",{"content":data,"case":"{{ casename }}"},function(data) {
			if(data.result){
				console.log(data.msg);
				location.reload(0);
			}else{
				alert(data.msg);
			}
		})
	}
</script>


</body>

</html>
